<!DOCTYPE html>
<html>
<head>
	
	<title>DataPage</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

	  <style>
    body
    {
            background-color: rgb(222, 150, 212);
            background-size: 280%;
            background-position: -400px 0px;
            margin-right: 80px;
            margin-left: 80px;
    }
    </style>
</head>

<body>

		<div class="form-group">
    	<h1>Employee details</h1>
	<form name="form-group" id="form-group">

	<label>Employee Id</label>
	<p>{{employee.employee_id}}</p>

	<label>Employee Name</label>
	<p>{{employee.name}}</p>


<label>Age</label>
<p>{{employee.age}}</p>

<label>Position</label>
<p>{{employee.position}}</p>
	</form >
</div>
</div>
</body>
</html>

