<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <title>ConformationPage</title>
      <style>
    body
    {
           background-color: rgb(224 227 239);
            background-size: 280%;
            background-position: -400px 0px;
            margin-right: 80px;
            margin-left: 80px;
    }
    </style>
</head>

<body>
    <div class="container">


             <form action='' method="post" name="formname">
       &nbsp;&nbsp;
                <div class="jumbotron">
                    <div class="form-group">
                        <p style="font-size:24px">Click YES to confirm</p>
                    </div>
                  <div class="form-group">
                        <button type="submit" class="btn btn-primary">YES</button>
                         <a class="btn btn-primary" href='/data'>Cancel</a>
                    </div>
                </div>
              </form>

</div>
</body>
</html>


